@charset "utf-8";
/*나눔고딕웹폰트로드(폰트 사용할곳에font-family:'Nanum Gothic', '나눔고딕', '굴림', 'Gulim', 'sans-serif', 'Tahoma';추가)*/
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */

/*나눔바른고딕웹폰트로드(폰트 사용할곳에font-family:'NanumBarunGothic';추가)*/
/* @import url("../font/NanumBarunGothic.css"); */
/* @import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css); */

/*나눔스퀘어웹폰트로드(폰트 사용할곳에font-family: 'Nanum Square';추가)*/
/* @import url("../font/nanumsquare.css"); */
/* @import url(http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css); */

/*나눔명조웹폰트로드(폰트 사용할곳에font-family: 'Nanum Myeongjo', serif;추가)*/
/* @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css); */

/*코펍바탕체 font-family: 'KoPub Batang', 'Nanum Gothic', '나눔고딕', '굴림', 'Gulim', 'sans-serif', 'Tahoma';*/ 
/* @import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css); */

/* CSS Document */

*{font-family: "Nanum Gothic",'돋움','dotum',tahoma,'NanumBarunGothic','MalgunGothic','Verdana','Arial','Helvetica','sans-serif';padding:0;margin:0;}
html,body{width:100%;height:100%;}
html{overflow-y:scroll;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;background: none;}
hr,legend {display:none;}
img,fieldset,iframe{border:none;}
img{vertical-align:top; max-width: 100%;}
textarea{font-family:"Nanum Gothic",'돋움','dotum',tahoma,'MalgunGothic','Verdana','Arial','Helvetica','sans-serif';}
caption {display:none;}
input,select,button{vertical-align:middle;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;}
a:link,a:visited,a:active,a:focus{text-decoration:none;}
a:hover{text-decoration:none;}

/* float */

.clearfix{*zoom: 1;}
.clearfix:after{content:'';display:block;clear:both;}

/* Common */

.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.skip a{display:block;position:absolute;left:0;top:-9999em;width:100%;background-color:#272727;color:#aaa;font: bold 12px/3.4 arial,sans-serif;text-align:center;z-index: 99999;}
.skip a:hover,.skip a:active,.skip a:focus{top:0}

/*loader*/
#loader{background: #f5f5f5; position: fixed; width: 100%; height: 100%; top: 0; z-index: 999999;}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);} to {-webkit-transform: rotate(360deg);}}
img.loading {-webkit-animation-name: rotate; -webkit-animation-duration: 1s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; position: absolute; top: 50%; left: 50%; width: 140px; height: 140px; margin-left: -70px; margin-top: -70px;}

*{-webkit-text-size-adjust:none}

/*기본*/
#wrap{width:100%; margin: 0 auto;}
#header{position:relative;}
#container{position:relative;}
#footer{position:relative;}

/*text-align*/
.ta_center{text-align: center;}
.ta_left{text-align: left;}
.ta_right{text-align: right;}


/* check_style */
/* Normal Track */
.ios_check input[type="checkbox"] { 	position: absolute;	opacity: 0;}
.ios_check span{display:block;}
.ios_check input[type="checkbox"].ios-switch + span {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}

/* Checked Track (Blue) */
.ios_check input[type="checkbox"].ios-switch:checked + span {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
.ios_check input[type="checkbox"].tinyswitch.ios-switch + span {
	width: 34px;	height: 18px;
}

/* Big Track */
.ios_check input[type="checkbox"].bigswitch.ios-switch + span {
	width: 50px;	height: 25px;
}

/* Green Track */
.ios_check input[type="checkbox"].green.ios-switch:checked + span {
	background-color: #ff7101;
	border: 1px solid rgba(255, 113, 1,1);
	box-shadow: inset 0 0 0 10px rgba(255,113,1,1);
}

/* Normal Knob */
.ios_check input[type="checkbox"].ios-switch + span > span {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

/* Checked Knob (Blue Style) */
.ios_check input[type="checkbox"].ios-switch:checked + span > span {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
.ios_check input[type="checkbox"].tinyswitch.ios-switch + span > span {
	width: 16px; height: 16px;
	margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
.ios_check input[type="checkbox"].tinyswitch.ios-switch:checked + span > span {
	-webkit-transform: translate3d(16px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
.ios_check input[type="checkbox"].bigswitch.ios-switch + span > span {
	width: 23px; height: 23px;
	margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
.ios_check input[type="checkbox"].bigswitch.ios-switch:checked + span > span {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
.ios_check input[type="checkbox"].green.ios-switch:checked + span > span {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 113, 1,1);
}


